$success: #016565;
$danger: #c12f2f;
@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body {
    font-family: 'Agdasima', sans-serif;
}

ul{
    text-decoration: none;
}